@font-face {
   font-family: 'Calibri';
   font-display: swap;
   src: url('file:///C:/Users/ajireyes/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-05_113400/fonts/Calibri/font.ttf');
}
